html {
    background-color:azure
}

body {
    margin: 0;
}

.site-header {
    background-color: blueviolet;
    padding: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.page-name {
    margin: 0;
}

.nav-links {
    color: #fff
}

.nav-links:hover {
    background-color: white;
    color: black;
    padding: 10px;
}

.nav-links:active {
    background-color: orange;
}

/* this is with the keyboard */
.nav-links:focus {
    font-size: 30px;
}

.main-content {
    background-color: cadetblue;
    padding: 30px;
    margin-bottom: 30px;
}

.site-footer {
    background-color: chocolate;
    padding: 30px;
}